@font-face {
  font-family: 'Circe Bold';
  src: url("/static/main/fonts/fonts/Circe-Bold.eot");
  src: url("/static/main/fonts/fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Circe-Bold.woff") format("woff"), url("/static/main/fonts/Circe-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Circe Light';
  src: url("/static/main/fonts/Circe-Light.eot");
  src: url("/static/main/fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Circe-Light.woff") format("woff"), url("/static/main/fonts/Circe-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Circe Extra Bold';
  src: url("/static/main/fonts/Circe-ExtraBold.eot");
  src: url("/static/main/fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Circe-ExtraBold.woff") format("woff"), url("/static/main/fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Circe Regular';
  src: url("/static/main/fonts/Circe-Regular.eot");
  src: url("/static/main/fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Circe-Regular.woff") format("woff"), url("/static/main/fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Panton ExtraBold';
  src: url("/static/main/fonts/Panton-ExtraBold.eot");
  src: url("/static/main/fonts/Panton-ExtraBold.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Panton-ExtraBold.woff") format("woff"), url("/static/main/fonts/Panton-ExtraBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Panton Bold';
  src: url("/static/main/fonts/Panton-Bold.eot");
  src: url("/static/main/fonts/Panton-Bold.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Panton-Bold.woff") format("woff"), url("/static/main/fonts/Panton-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Panton Black';
  src: url("/static/main/fonts/Panton-Black.eot");
  src: url("/static/main/fonts/Panton-Black.eot?#iefix") format("embedded-opentype"), url("/static/main/fonts/Panton-Black.woff") format("woff"), url("/static/main/fonts/Panton-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html {
  min-width: 1260px; }

body {
  width: 100%;
  min-width: 1200px; }
  body main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }

header {
  position: fixed;
  z-index: 100000;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent url(/static/main/img/header-back.png) no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 156px; }
  header .menu {
    display: flex;
    margin-left: 46px; }
    header .menu a {
      text-transform: uppercase;
      color: black;
      font-family: "Panton ExtraBold", sans-serif;
      font-size: 24px;
      margin: 0 18px; }
    header .menu .active_menu {
      color: white;
      position: relative; }
      header .menu .active_menu:before {
        left: calc(50% - 44px);
        content: "";
        display: block;
        position: absolute;
        top: -64px;
        background: transparent url(/static/main/img/head_arrow.png) no-repeat;
        background-position: center center;
        background-size: cover;
        background-size: cover;
        width: 88px;
        height: 45px; }
  header .logo {
    width: 159px;
    height: auto;
    object-fit: contain;
    margin-left: 92px; }
  header .contacts {
    display: flex;
    align-items: center;
    margin-left: 97px; }
    header .contacts > div {
      margin-left: 44px; }
    header .contacts p {
      font-family: "Circe Light", sans-serif;
      font-size: 30px;
      color: black;
      letter-spacing: 0.5px; }
    header .contacts a {
      color: black;
      font-family: "Panton ExtraBold", sans-serif;
      font-size: 30px;
      letter-spacing: 0.5px; }
    header .contacts img {
      width: 44px;
      position: relative;
      top: 5px; }
  header .change_lang {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 29px; }
    header .change_lang > img {
      margin: 8px;
      width: 50px; }

.about_us {
  padding-top: 156px;
  height: 739px;
  width: 100%;
  background: transparent url(/static/main/img/back_about.png) no-repeat;
  background-position: center center;
  background-size: cover;
  background-position: top left; }
  .about_us h1 {
    font-size: 62px;
    font-family: "Circe Light", sans-serif;
    color: white;
    text-align: center;
    margin-top: 20px;
    line-height: 77px; }
    .about_us h1 span {
      font-family: "Panton ExtraBold", sans-serif;
      font-size: 86px; }
  .about_us .content {
    width: 100%;
    display: flex; }
    .about_us .content .about {
      margin-left: 4.7%;
      margin-top: -11px;
      min-width: 625px;
      width: 625px; }
      .about_us .content .about h4 {
        color: #FFC107;
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 54px; }
      .about_us .content .about p {
        color: white;
        font-size: 29px;
        font-family: "Circe Regular", sans-serif;
        margin-top: 36px;
        line-height: 33px;
        text-align: justify; }
    .about_us .content .call_back {
      margin-left: calc(200px + 7.4%);
      margin-top: 0; }
      .about_us .content .call_back h4 {
        color: #FFC107;
        font-family: "Circe Bold", sans-serif;
        font-size: 39px;
        text-align: center;
        text-transform: uppercase; }
      .about_us .content .call_back > div {
        width: 676px;
        margin-top: 6px;
        padding: 25px 38px;
        border-radius: 5px;
        border: 1px white solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative; }
        .about_us .content .call_back > div input {
          width: calc(47% - 15px);
          height: 45px;
          border: none;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 3px;
          font-size: 20px;
          font-family: "Circe Regular", sans-serif;
          color: black;
          padding-left: 14px;
          margin-bottom: 19px; }
          .about_us .content .call_back > div input::placeholder {
            color: #808080;
            margin-bottom: 11px; }
        .about_us .content .call_back > div textarea {
          width: 100%;
          height: 178px;
          border: none;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 3px;
          font-size: 20px;
          font-family: "Circe Regular", sans-serif;
          color: black;
          padding: 10px 13px;
          margin-bottom: 59px; }
          .about_us .content .call_back > div textarea::placeholder {
            color: #808080; }
        .about_us .content .call_back > div .btn {
          background: #fcbf00;
          width: 318px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-family: "Panton Bold", sans-serif;
          font-size: 21px;
          position: absolute;
          left: calc(50% - 159px);
          bottom: 22px; }

.we-give {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 740px;
  background: transparent url(/static/main/img/we_back.png) no-repeat;
  background-position: center center;
  background-size: cover;
  align-items: flex-start; }
  .we-give h4 {
    font-family: "Panton ExtraBold", sans-serif;
    font-size: 54px;
    color: black;
    text-align: center;
    margin-top: 45px; }
  .we-give .tips {
    width: 100%;
    max-width: 1679px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px; }
    .we-give .tips > .tip:nth-child(1) {
      margin-left: 172px; }
    .we-give .tips > .tip:nth-child(4) {
      margin-right: 143px; }
    .we-give .tips > .tip:nth-child(2) p {
      position: relative;
      top: -21px; }
    .we-give .tips > .tip:nth-child(9) p {
      position: relative;
      top: -25px; }
    .we-give .tips .tip {
      height: 236px;
      margin-bottom: 46px;
      width: 327px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .we-give .tips .tip img {
        width: 144px;
        object-fit: contain;
        height: auto;
        margin-bottom: 10px; }
      .we-give .tips .tip p {
        font-family: "Circe Bold", sans-serif;
        font-size: 26px;
        color: black;
        text-align: center;
        line-height: 30px; }

.services {
  height: 980px;
  width: 100%;
  min-width: 1250px;
  background: transparent url(/static/main/img/3_fon.png) no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column; }
  .services h4 {
    font-family: "Panton ExtraBold", sans-serif;
    font-size: 54px;
    color: black;
    text-align: center;
    margin-top: 39px; }
  .services .tips {
    margin-top: 9px;
    max-width: 1800px;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .services .tips .tip {
      width: 46%;
      display: flex;
      flex-direction: column; }
      .services .tips .tip .wrap {
        width: 100%;
        margin-top: 23px; }
        .services .tips .tip .wrap .text {
          width: 100%;
          margin-bottom: 24px; }
          .services .tips .tip .wrap .text h5 {
            font-family: "Panton Black", sans-serif;
            font-size: 30px;
            color: white;
            margin-bottom: 11px; }
          .services .tips .tip .wrap .text p {
            font-family: "Circe Regular", sans-serif;
            font-size: 22px;
            color: black;
            line-height: 25px; }
    .services .tips .arrow {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .services .tips .arrow img {
        width: 422px; }
      .services .tips .arrow p {
        font-size: 30px;
        font-family: "Circe Extra Bold", sans-serif;
        color: black;
        position: absolute;
        top: 12px; }

.commerce {
  height: 1050px;
  width: 100%;
  min-width: 1250px;
  background: transparent url(/static/main/img/4_fon.png) no-repeat;
  background-position: center center;
  background-size: cover;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative; }
  .commerce h4 {
    font-family: "Panton ExtraBold", sans-serif;
    font-size: 54px;
    color: white;
    text-align: center;
    margin-top: 39px; }
  .commerce .tips {
    height: 910px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1750px;
    position: absolute;
    bottom: 0; }
    .commerce .tips .tip {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 22%;
      position: relative; }
      .commerce .tips .tip > img:nth-child(1) {
        width: 205px;
        position: relative;
        left: 23px; }
      .commerce .tips .tip > img:nth-child(2) {
        width: 100%;
        position: absolute;
        bottom: 0; }
      .commerce .tips .tip > div {
        position: relative;
        width: 100%;
        height: 400px; }
        .commerce .tips .tip > div > p {
          color: white;
          font-size: 20px;
          font-family: "Circe Regular", sans-serif;
          margin: 13px 20px 0 20px;
          line-height: 25px; }
        .commerce .tips .tip > div > h5 {
          color: white;
          font-size: 57px;
          font-family: "Circe Extra Bold", sans-serif;
          text-align: center; }

.marketing {
  height: 1210px;
  width: 100%;
  min-width: 1250px;
  background: transparent url(/static/main/img/5_fon.png) no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  .marketing .content {
    width: 95%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .marketing .content .tip {
      width: 390px;
      height: 390px;
      background: transparent url(/static/main/img/5_back.png) no-repeat;
      background-position: center center;
      background-size: cover;
      margin: 0 20px 165px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .marketing .content .tip > div {
        height: 114px;
        width: 90%;
        display: flex;
        align-items: center;
        margin-top: 40px; }
        .marketing .content .tip > div h3 {
          font-size: 55px;
          font-family: "Circe Extra Bold", sans-serif;
          color: black;
          line-height: 62px; }
        .marketing .content .tip > div img {
          margin-right: 27px;
          width: 114px; }
      .marketing .content .tip p {
        width: 90%;
        font-family: "Circe Regular", sans-serif;
        font-size: 20px;
        line-height: 24px;
        color: black;
        margin-top: 20px; }
    .marketing .content .no_img > div {
      justify-content: center; }
    .marketing .content .tip:nth-child(2) {
      position: relative;
      top: -80px; }
    .marketing .content .tip:nth-child(5) {
      position: relative;
      top: 80px; }
    .marketing .content .tip:nth-child(4), .marketing .content .tip:nth-child(5), .marketing .content .tip:nth-child(6) {
      margin: 0 20px 0 20px; }

.Hong {
  height: 830px;
  width: 100%;
  min-width: 1250px;
  background: transparent url(/static/main/img/6_fon.png) no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start; }
  .Hong .content {
    width: 92%;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 82px; }
    .Hong .content .tips {
      display: flex;
      flex-direction: column;
      max-width: 830px;
      width: 50%; }
      .Hong .content .tips h5 {
        font-family: "Panton Black", sans-serif;
        font-size: 39px;
        color: black;
        margin-bottom: 11px;
        text-transform: uppercase; }
      .Hong .content .tips p {
        font-family: "Circe Bold", sans-serif;
        font-size: 22px;
        color: white;
        line-height: 25px; }
      .Hong .content .tips .tip {
        margin-bottom: 52px;
        position: relative; }
        .Hong .content .tips .tip:before {
          content: "";
          display: block;
          position: absolute;
          left: -22px;
          top: 0;
          height: 100%;
          width: 10px;
          background: white; }
    .Hong .content .main_text {
      max-width: 704px;
      width: 44%;
      color: white;
      margin-top: -14px; }
      .Hong .content .main_text h3 {
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 52px;
        color: white;
        margin-bottom: 41px; }
      .Hong .content .main_text p {
        font-family: "Circe Regular", sans-serif;
        font-size: 25px;
        color: white; }

.gallery_wrap {
  height: 950px;
  width: 100%;
  min-width: 1250px;
  background: transparent url(/static/main/img/7_fon.png) no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .gallery_wrap h4 {
    font-family: "Panton ExtraBold", sans-serif;
    font-size: 54px;
    color: black;
    text-align: center;
    margin-top: 49px; }
  .gallery_wrap .gallery {
    width: 90%;
    max-width: 1570px;
    margin-top: 53px; }
    .gallery_wrap .gallery img {
      width: 230px;
      height: 230px;
      object-fit: contain; }
    .gallery_wrap .gallery .slick-next {
      width: 45px;
      height: 45px;
      background: transparent url(/static/main/img/ar_next.png) no-repeat;
      background-position: center center;
      background-size: cover;
      border: none;
      position: absolute;
      top: calc(50% - 22.5px);
      right: -53px; }
    .gallery_wrap .gallery .slick-prev {
      width: 45px;
      height: 45px;
      background: transparent url(/static/main/img/ar_prev.png) no-repeat;
      background-position: center center;
      background-size: cover;
      border: none;
      position: absolute;
      top: calc(50% - 22.5px);
      left: -95px; }

.slick-next:before, .slick-prev:before {
  display: none; }

.contact_us {
  height: 740px;
  width: 100%;
  background: transparent url(/static/main/img/8_fon.png) no-repeat;
  background-position: center center;
  background-size: cover; }
  .contact_us h4 {
    font-family: "Panton ExtraBold", sans-serif;
    font-size: 54px;
    color: white;
    text-align: center;
    margin-top: 49px; }
  .contact_us .contacts {
    margin-top: 135px;
    display: flex;
    align-items: center; }
    .contact_us .contacts > div {
      margin-left: 71px; }
    .contact_us .contacts p {
      font-family: "Circe Light", sans-serif;
      font-size: 30px;
      color: white;
      letter-spacing: 1.5px;
      white-space: nowrap; }
    .contact_us .contacts a {
      color: white;
      font-family: "Panton ExtraBold", sans-serif;
      font-size: 30px;
      letter-spacing: 1.5px;
      white-space: nowrap; }
    .contact_us .contacts img {
      position: relative;
      top: 3px;
      left: 13px;
      width: 39px; }
  .contact_us .mail {
    display: flex;
    align-items: center;
    margin-top: 67px; }
    .contact_us .mail p {
      color: white;
      font-family: "Circe Bold", sans-serif;
      font-size: 30px;
      letter-spacing: 1.5px;
      margin-left: 48px;
      position: relative;
      top: 4px;
      white-space: nowrap; }
    .contact_us .mail img {
      width: 58px; }
  .contact_us .addr {
    display: flex;
    align-items: center;
    margin-top: 67px; }
    .contact_us .addr p {
      color: white;
      font-family: "Circe Bold", sans-serif;
      font-size: 30px;
      letter-spacing: 1.5px;
      margin-left: 60px;
      top: -10px;
      position: relative;
      white-space: nowrap; }
    .contact_us .addr span {
      font-family: "Circe Light", sans-serif;
      font-size: 32px;
      color: white;
      letter-spacing: 0.5px;
      margin-left: 60px;
      top: -23px;
      position: relative;
      white-space: nowrap; }
    .contact_us .addr img {
      width: 46px;
      top: -15px;
      position: relative;
      left: 11px;
      white-space: nowrap; }
  .contact_us .content {
    width: 100%;
    display: flex; }
    .contact_us .content .contact {
      margin-left: 11.7%;
      margin-top: -11px; }
    .contact_us .content .call_back {
      margin-top: 0;
      margin-left: 15.2%; }
      .contact_us .content .call_back h4 {
        color: #FFC107;
        font-family: "Circe Bold", sans-serif;
        font-size: 39px;
        text-align: center;
        text-transform: uppercase; }
      .contact_us .content .call_back > div {
        width: 676px;
        margin-top: 6px;
        padding: 25px 38px;
        border-radius: 5px;
        border: 1px white solid;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative; }
        .contact_us .content .call_back > div input {
          width: calc(47% - 15px);
          height: 45px;
          border: none;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 3px;
          font-size: 20px;
          font-family: "Circe Regular", sans-serif;
          color: black;
          padding-left: 14px;
          margin-bottom: 19px; }
          .contact_us .content .call_back > div input::placeholder {
            color: #808080;
            margin-bottom: 11px; }
        .contact_us .content .call_back > div textarea {
          width: 100%;
          height: 178px;
          border: none;
          background: rgba(255, 255, 255, 0.8);
          border-radius: 3px;
          font-size: 20px;
          font-family: "Circe Regular", sans-serif;
          color: black;
          padding: 10px 13px;
          margin-bottom: 59px; }
          .contact_us .content .call_back > div textarea::placeholder {
            color: #808080; }
        .contact_us .content .call_back > div .btn {
          background: #fcbf00;
          width: 318px;
          height: 43px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          font-family: "Panton Bold", sans-serif;
          font-size: 21px;
          position: absolute;
          left: calc(50% - 159px);
          bottom: 22px; }

@media (max-width: 1800px) {
  header {
    justify-content: space-between; }
    header p {
      white-space: nowrap; }
    header a {
      white-space: nowrap; }
    header > div {
      margin-left: 0 !important; }
    header > img {
      margin-left: 0 !important; }
    header .change_lang {
      position: static; }

  .about_us {
    background-position: top center; }
    .about_us .content .about {
      margin-left: 20px; }
      .about_us .content .about h4 {
        font-size: 39px; }
      .about_us .content .about p {
        font-size: 25px;
        line-height: 32px; }
    .about_us .content .call_back {
      margin-left: 237px; }
      .about_us .content .call_back > div {
        width: 500px; }
      .about_us .content .call_back h4 {
        font-size: 30px; }

  .services .tips {
    padding: 0 30px 0 30px;
    width: calc(100% - 60px); }

  .services {
    height: unset; }

  .commerce .tips .tip > div > h5 {
    font-size: 50px; }

  .commerce .tips .tip > div {
    height: 350px; }

  .Hong .content .main_text p {
    font-size: 19px; }

  .Hong .content .main_text {
    max-width: 560px; }

  .Hong .content .main_text h3 {
    margin-bottom: 50px; }

  .Hong {
    height: auto; }

  .gallery_wrap .gallery {
    width: 84%;
    max-width: 1128px; }

  .contact_us .content .contact {
    margin-left: 4%; }

  .contact_us .content .call_back {
    margin-left: 7%; } }
@media (max-width: 1660px) {
  .we-give {
    min-width: 1260px;
    height: auto; }
    .we-give .tips > .tip:nth-child(1) {
      margin-left: 0; }
    .we-give .tips > .tip:nth-child(4) {
      margin-right: 0; } }
@media (max-width: 1567px) {
  .about_us .content .about {
    width: 530px;
    min-width: 530px; }

  .about_us .content .call_back {
    margin-left: 150px; }

  .marketing .content .tip {
    margin: 0 0 165px 0; }

  .marketing .content .tip:nth-child(4), .marketing .content .tip:nth-child(5), .marketing .content .tip:nth-child(6) {
    margin: 0; }

  .marketing .content {
    width: 100%; }

  .Hong .content .main_text {
    max-width: 456px; }

  .contact_us .content .call_back > div {
    width: 500px; }

  .contact_us .content .call_back h4 {
    font-size: 29px; } }
@media (max-width: 1350px) {
  .about_us .content .about p {
    font-size: 21px;
    line-height: 29px; }

  .about_us .content .about {
    width: 442px;
    min-width: 300px; }

  .Hong .content .main_text p {
    font-size: 18px; }

  .Hong .content .main_text {
    max-width: 385px; }

  .contact_us .contacts p {
    font-size: 25px; }

  .contact_us .contacts a {
    font-size: 25px; }

  .contact_us .mail p {
    font-size: 24px; }

  .contact_us .addr p {
    font-size: 25px; }

  .contact_us .addr span {
    font-size: 25px; } }
@media (max-width: 1500px) {
  header {
    min-width: 1260px; }
    header .menu a {
      font-size: 17px; }
    header .menu .active_menu:before {
      top: -67px; }
    header .contacts a {
      font-size: 17px; }
    header .contacts p {
      font-size: 17px; }

  .commerce .tips .tip > div > p {
    font-size: 17px;
    margin: 2px 10px 0 10px; }

  .commerce .tips .tip > div > h5 {
    font-size: 40px; } }

/*# sourceMappingURL=styleold.css.map */
