<!DOCTYPE html>
<html lang="ru">

<head>
  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="yandex-verification" content="0e5a5f95b85e3389" />
{#      <script>#}
{#  grecaptcha.ready(function() {#}
{#      grecaptcha.execute('6LcvFrMUAAAAAEf6Nzd8RTbzqgzyHyqMeWgewKT9', {action: 'homepage'});#}
{#  });#}
{#  </script>#}
  <title>Shanghai Consulting</title>
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/slick-theme.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
  <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(54626356, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/54626356" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>

<body>
  <header>
    <img src="{% static 'main/img/logo.png' %}" alt="" class="logo">
    <div class="menu">
      <a id="about_link" class="active_menu" href="#about_us">О нас</a>
      <a id="services_link" href="#services">Услуги</a>
      <a id="commerce_link" href="#commerce">E-COMMERCE</a>
      <a id="marketing_link" href="#marketing">Маркетинг</a>
      <a id="gallery_link" href="#gallery">Галерея</a>
      <a id="contacts_link" href="#contacts">Контакты</a>
    </div>
    <div class="contacts">
      <img src="{% static 'main/img/tel.png' %}" alt="">
      <div>
        <p>Телефон / WhatsApp</p>
        <a href="tel:+8615618935795">+86 156-1893-5795</a><br>
        <a href="tel:+78005518103">+7 800-551-8103</a><br>
      </div>
    </div>
    <div class="change_lang">
      <img src="{% static 'main/img/angl.png' %}" alt="">
      <img src="{% static 'main/img/rus.png' %}" alt="">
    </div>

  </header>

  <main>
    <a name="about_us"></a>
    <div class="about_us">
      <h1>Ваша дверь в Китай <br> <span>Бизнес и Финансы</span></h1>
      <div class="content">
        <div class="about">
          <h4>О нас</h4>
          <div>
            <p>Наш опыт в работе с Китаем более 5 лет. Самая главная проблема — это различие менталитетов, я не против китайцев, я их очень люблю, но то, что наши менталитеты очень разные — это факт. Поэтому хорошо иметь консультанта, который много
              вещей сделал сам, относящихся к бизнесу в Китае. Конечно мы не можем делать все, есть некоторые вещи, которые только китайцы могут сделать, но мы также поможем вам найти таких людей. И мы честны с вами и с самими собой. То, что мы
              делаем — это нужные вещи в нужное время. И этого достаточно.</p>

          </div>
        </div>





        <form action="send_email/" method="post" class="call_back">{% csrf_token %}
          <h4>запросить обратный звонок</h4>
          <div>
            <input name="name" required placeholder="Имя" id="Name_input">
            <input name="mail" required placeholder="Ваш e-mail" id="Email_input">
            <input name="phone" required placeholder="Ваш WhatsApp" id="Whats_input">
            <input name="topic" required placeholder="Тема сообщения" id="heme_input">
            <textarea name="text" required placeholder="Сообщение" id="Text_input"></textarea>

            <!-- <div class="btn">
              <p>Отправить запрос</p>
            </div> -->
              <script>
                  window.removeFakeCaptcha_1 = function() {
   document.querySelector('.captcha-fake-field-1').remove();
}
              </script>
              <div class="captcha">
              <div class="g-recaptcha" data-sitekey="6LfoJ7MUAAAAAEMAxcZsoI2kVXIJ3pw9xEVCygE5" data-callback="removeFakeCaptcha_1"></div>
              <input type="checkbox" class="captcha-fake-field-1" tabindex="-1" required>
              </div>


            <button class="btn" type="submit">Отправить запрос</button>
          </div>
        </form>

      </div>
    </div>
    <div class="we-give">
      <div class="content">
        <h4>Мы предлагаем</h4>
        <div class="tips">
          <div class="tip">
            <img src="{% static 'main/img/reg_com.png' %}" alt="">
            <p>Процедуры <br> регистрации компании</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/chin_mar.png' %}" alt="">
            <p>Маркетинг в Китае</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/proc.png' %}" alt="">
            <p>Процедуры <br> регистрации и ведения на электронных платформах</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/shanh.png' %}" alt="">
            <p>Выставки в Шанхае и <br> в разных городах Китая</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/find.png' %}" alt="">
            <p>Услуги поиска кадров <br> для вашей компании</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/nal_uch.png' %}" alt="">
            <p>Налоговый и бухгалтерский учет вашей компании</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/reg_ch.png' %}" alt="">
            <p>Регистрация <br> торговой марки в Китае</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/documents.png' %}" alt="">
            <p>Сбор и подача <br> документов для визы</p>
          </div>
          <div class="tip">
            <img src="{% static 'main/img/ur_ysl.png' %}" alt="">
            <p>Юридические услуги</p>
          </div>
        </div>
      </div>
    </div>
    <a name="services"></a>
    <div class="services">
      <h4>Услуги</h4>
      <div class="tips">
        <div class="tip">
          <div class="arrow">
            <img src="{% static 'main/img/3_arrow.png' %}" alt="">
            <p>Компании в Китае</p>
          </div>
          <div class="wrap">
            <div class="text">
              <h5>Консалтинговая компания</h5>
              <p>Простейший вид компании для открытия. Все что нужно для открытия — это бизнес лицензия. Но направление бизнеса также не такое большое. Если все, что вы планируете делать — это консультации, продвижение и реклама, то такой вид
                компании для вас.</p>
            </div>
            <div class="text">
              <h5>Торговая компания</h5>
              <p>Если у вас есть, что предложить на китайский рынок — то это ваша компания. Открытие занимает немного больше времени, но и возможностей больше. Если вы планируете заниматься импортом и экспортом — идите и регистрируйте прямо сейчас!</p>
            </div>
            <div class="text">
              <h5>Ресторан или кафе</h5>
              <p>Если вы планируете открыть ресторан или кафе, то это ваш тип компании. Теперь вам обязательно минимум на 3 года снять помещение, в котором планируете открывать кафе, и сборы зависят от района, в котором будет находиться ваш
                ресторан. Также сюда можно отнести компанию по импорту и экспорту продуктов питания. Здесь уже потребуется карантинная лицензия.</p>
            </div>
            <div class="text">
              <h5>Производство</h5>
              <p>Производства в Китае одни из самых дешевых. Рабочая сила недорогая, аренда также. Поэтому большинство производств находится именно в Китае.</p>
            </div>
          </div>
        </div>

        <div class="tip">
          <div class="arrow">
            <img src="{% static 'main/img/3_arrow.png' %}" alt="">
            <p>Другие услуги</p>
          </div>
          <div class="wrap">
            <div class="text">
              <h5>Поиск кадров</h5>
              <p>Очень трудно найти работников, когда вы не знаете, где их искать. Поэтому проще доверить это дело кому-то опытному.</p>
            </div>
            <div class="text">
              <h5>Налоговый и бухгалтерский учет</h5>
              <p>В Китае соблюдать налоговое законодательство очень важно, штрафы за это немалые, поэтому как только запустили свой бизнес, обзаведитесь грамотным бухгалтером. Мы можем предложить услуги аутсорсинга на выгодных условиях.</p>
            </div>
            <div class="text">
              <h5>Регистрация торговой марки</h5>
              <p>Если вы представляете какой-либо продукт в Китае — обязательно регистрируйте торговую марку на него. Иначе грозят большие затраты в случае успешного выхода продукта на китайский рынок. Чем успешнее, тем затратнее.</p>
            </div>
            <div class="text">
              <h5>Виза</h5>
              <p>Если вы хотите проживать в Китае во время становления вашего бизнеса — то вам лучше подать на резиденцию, что очень просто, когда есть бизнес-лицензия. Главное собрать необходимые документы, а вот с этим посложнее, но мы можем вам в
                этом помочь.</p>
            </div>
            <div class="text">
              <h5>Юридические услуги</h5>
              <p>В нашем мире все может произойти: обманули, не заплатили и тд. Поэтому чтобы обезопасить себя от таких вещей и свести риски к минимуму, то желательно обзавестись своим юристом.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <a name="commerce"></a>
    <div class="commerce">
      <h4>Платформы E-COMMERCE</h4>
      <div class="tips">
        <div class="tip">
          <img src="{% static 'main/img/1.png' %}" alt="">
          <img src="{% static 'main/img/com_ar.png' %}" alt="">

          <div>
            <h5>Taobao Shop</h5>
            <p>Тaobao — cамая известная платформа продаж в Китае. Люди покупают через нее в среднем 15 раз за месяц. Если вы хотите хорошо продавать ваши товары — это самая первая платформа, которой вы должны воспользоваться.</p>
          </div>
        </div>
        <div class="tip">
          <img src="{% static 'main/img/2.png' %}" alt="">
          <img src="{% static 'main/img/com_ar.png' %}" alt="">

          <div>
            <h5>WeChat Shop</h5>
            <p>Wechat - одна из крупнейших социальных сетей в Китае. Люди совершают платежи через нее, отправляют деньги и подарки, разделяют моменты жизни. Для людей, использующих мобильные телефоны — это самая лучшая платформа для покупок, а у
              вашего бизнеса для продаж.</p>
          </div>
        </div>
        <div class="tip">
          <img src="{% static 'main/img/3.png' %}" alt="">
          <img src="{% static 'main/img/com_ar.png' %}" alt="">

          <div>
            <h5>Tmall Shop</h5>
            <p>Tmall — практически Таоbao, но платформа работает от бизнеса к клиенту. Поэтому здесь только компании и корпорации могут открыть магазин. Если люди боятся покупать на Тaobao подделки — то в Tmall всегда можно найти официальный
              магазин.</p>
          </div>
        </div>
        <div class="tip">
          <img src="{% static 'main/img/4.png' %}" alt="">
          <img src="{% static 'main/img/com_ar.png' %}" alt="">

          <div>
            <h5>JD Shop</h5>
            <p>JD является более молодой платформой, но совершенно не отстающей. И регистрация здесь обойдется дешевле, чем на Tmall.</p>
          </div>
        </div>
      </div>
    </div>
    <a name="marketing"></a>
    <div class="marketing">
      <div class="content">
        <div class="tip">
          <div>
            <img src="{% static 'main/img/du.png' %}" alt="">
            <h3>Baidu</h3>
          </div>
          <p>Baidu — самый большой поисковик в Китае. Он захватывает более 90 процентов всей аудитории Китая. Продвижение здесь похоже на продвижение в Google, правда цены на порядок выше.</p>
        </div>
        <div class="tip no_img">
          <div>
            <h3>Выставки</h3>
          </div>
          <p>Выставки — это один из лучших методов поиска оптовых покупателей. Также это отличное место для поиска товаров для экспорта из Китая. Все, что вам нужно — это определиться с направлением, которое вам интересно.</p>
        </div>
        <div class="tip no_img">
          <div>
            <h3>Промо акции</h3>
          </div>
          <p>Организация промо акций — также важнейший метод продвижения ваших продуктов или услуг. Здесь все зависит от бюджета, мы можем помочь вам с организацией промо акций на любой бюджет.</p>
        </div>
        <div class="tip">
          <div>
            <img src="{% static 'main/img/ali.png' %}" alt="">
            <h3>Alibaba</h3>
          </div>
          <p>Alibaba занимает большое место в торговле в Китае и даже по всему миру. Поэтому продвижение на площадках данного гиганта может оказать большую поддержку в продажах.</p>
        </div>
        <div class="tip">
          <div>
            <img src="{% static 'main/img/ten.png' %}" alt="">
            <h3>Tencent</h3>
          </div>
          <p>Tencent — огромная корпорация, основным направлением которой являются соцсети и игры. У них есть свой департамент маркетинга, поэтому продвижение через данную корпорацию может дать свои плоды.</p>
        </div>
        <div class="tip">
          <div>
            <img src="{% static 'main/img/sina.png' %}" alt="">
            <h3>Sina<br>Weibo</h3>
          </div>
          <p>Самая большая социальная сеть в Китае. В ней много возможностей для продвижения ваших товаров.</p>
        </div>
      </div>
    </div>
    <div class="Hong">
      <div class="content">
        <div class="tips">
          <div class="tip">
            <h5>Уставной капитал</h5>
            <p>Нет необходимости вкладывать регистрационный капитал сразу. Его можно внести в течение 30 лет. Для полностью принадлежащих иностранцам компаний минимальный уставной капитал составляет 20000 долларов.</p>
          </div>
          <div class="tip">
            <h5>Юридический адрес для регистрации</h5>
            <p>Для юридического адреса компании должен быть снят офис минимум на год. Также есть возможность получить виртуальный адрес, который позволяет вам быть более гибким.</p>
          </div>
          <div class="tip">
            <h5>Учредители</h5>
            <p>В такого рода компаниях, которые называют WOFE (Wholly foreign owned enterprise), учредителями могут быть только иностранцы, не требуется искать китайских партнеров.</p>
          </div>
          <div class="tip">
            <h5>Зона свободной торговли</h5>
            <p>Компании находятся в Зоне Свободной торговли, в которой регистрация намного легче, чем в материковом Китае.</p>
          </div>
        </div>
        <div class="main_text">
          <h3>Гонконг</h3>
          <p>Гонконг давным давно является привлекательным для предпринимателей, своеобразный азиатский хаб, в который сходятся множество желающих бизнесменов с различными целями. Налоговая система очень сильно упрощена, а если вы не ведете
            деятельность в нем,, а используете его как «перевалочный пункт», то здесь в принципе никаких налогов не платится. Этим он и привлекает большинство бизнесменов. С 2015 года в банках Гонконга было введено правило, запрещающее открытие
            счета выходцам из многих стран, в том числе России и Украины. Но сейчас многие банки стали понимать, что теряют хорошую прибыль от этого, и теперь есть возможность договориться. Обращайтесь за открытием компании в Гонконге в нашу
            компанию, мы устроим для этого максимально подходящий для вас план.</p>
        </div>
      </div>

    </div>
    <a name="gallery"></a>
    <div class="gallery_wrap">
      <h4>Галерея</h4>
      <div class="gallery">
        <div><img src="{% static 'main/img/gall/1.jpg' %}"></div>
          <div><img src="{% static 'main/img/gall/2.jpg' %}"></div>
          <div><img src="{% static 'main/img/gall/3.jpg' %}"></div>
          <div><img src="{% static 'main/img/gall/4.jpg' %}"></div>
          <div><img src="{% static 'main/img/gall/5.jpg' %}"></div>
          <div><img src="{% static 'main/img/gall/6.jpg' %}"></div>

      </div>
      <iframe style="margin-top: 50px" width="770" height="430" src="https://www.youtube.com/embed/xyRmQ7WuuNQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <a name="contacts"></a>
    <div class="contact_us">
      <h4>Если у вас есть вопросы, свяжитесь с нами!</h4>
      <div class="content">
        <div class="contact">
          <div class="contacts">
            <img src="{% static 'main/img/yel_tel.png' %}" alt="">
            <div>
              <p>Телефон / WhatsApp</p>
              <a href="tel:+8615618935795">+86 156-1893-5795</a><br>
              <a href="tel:+78005518103">+7 800-551-8103</a><br>
            </div>
          </div>
          <div class="mail">
            <img src="{% static 'main/img/mail.png' %}" alt="">
            <p>Inbuconsalta@yandex.ru</p>
          </div>
          <div class="addr">
            <img src="{% static 'main/img/addr.png' %}" alt="">
            <div>
              <p>Shanghai, Minhang,</p>
              <span>1003 room, 851 Hengnan Road</span>
            </div>
          </div>
        </div>
        <form action="send_email/" method="post" class="call_back">{% csrf_token %}
          <h4>запросить обратный звонок</h4>
          <div>
            <input name="name" required placeholder="Имя" id="Name_input">
            <input name="mail" required placeholder="Ваш e-mail" id="Email_input">
            <input name="phone" required placeholder="Ваш WhatsApp" id="Whats_input">
            <input name="topic" required placeholder="Тема сообщения" id="heme_input">
            <textarea name="text" required placeholder="Сообщение" id="Text_input"></textarea>
            <!-- <div class="btn">
              <p>Отправить запрос</p>
            </div> -->
              <script>
                  window.removeFakeCaptcha_2 = function() {
   document.querySelector('.captcha-fake-field-2').remove();
}
              </script>
              <div class="captcha">
              <div class="g-recaptcha" data-sitekey="6LfoJ7MUAAAAAEMAxcZsoI2kVXIJ3pw9xEVCygE5" data-callback="removeFakeCaptcha_2"></div>
              <input type="checkbox" class="captcha-fake-field-2" tabindex="-1" required>
              </div>
            <button class="btn" type="submit">Отправить запрос</button>
          </div>
        </form>
      </div>
    </div>
  </main>
  <footer>
  </footer>
              <script src="https://www.google.com/recaptcha/api.js?hl=ru"></script>

  <script id="jquery" language="JavaScript" src="{% static 'main/js/jquery.js' %}"></script>
  <script language="JavaScript" src="{% static 'main/js/jquery.waypoints.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'main/js/slick.min.js' %}"></script>
  <script language="JavaScript" src="{% static 'main/js/script.js' %}"></script>
</body>

</html>
