@charset "UTF-8";


$imagedir:'../img/'; // base images path
$fontdir:'../fonts/'; // base fonts path


@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}


@mixin background($filename,$repeat: no-repeat) {
    background: transparent url(#{$imagedir}#{$filename}) $repeat;
    background-position: center center;
    background-size: cover;
}

@mixin font($fontname,$fontname-path) {
    @font-face {
        font-family: $fontname;
        src: url('#{$fontdir}#{$fontname-path}.eot');
        src: url('#{$fontdir}#{$fontname-path}.eot?#iefix') format('embedded-opentype'),
        url('#{$fontdir}#{$fontname-path}.woff') format('woff'),
        url('#{$fontdir}#{$fontname-path}.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }
}


@include font('Panton Black', 'Panton-Black');
@include font('Circe Bold', 'Circe-Bold');
@include font('Circe Light', 'Circe-Light');
@include font('Circe Extra Bold', 'Circe-ExtraBold');
@include font('Circe Regular', 'Circe-Regular');
@include font('Panton ExtraBold', 'Panton-ExtraBold');
@include font('Panton Bold', 'Panton-Bold');




html{
    min-width: 1260px;
}

body{
    width: 100%;
    min-width: 1200px;
  main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

}
header{
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    @include background('header-back.png');
    display: flex;
    align-items: center;
    height: 156px;
    .menu{
        display: flex;
        margin-left: 46px;
        a{
            text-transform: uppercase;
            color: black;
            font-family: "Panton ExtraBold", sans-serif;
            font-size: 24px;
            margin: 0 18px;

        }
        .active_menu{
            color: white;
            position: relative;

            &:before{
                left: calc(50% - 44px);
                @include pseudo();
                top: -64px;
                @include background("head_arrow.png");
                background-size: cover;
                width: 88px;
                height: 45px;
            }
        }
    }

    .logo{
        width: 159px;
        height: auto;
        object-fit: contain;
        margin-left: 92px;
    }
    .contacts{
        display: flex;
        align-items: center;
        margin-left: 97px;
        >div{
            margin-left: 44px;
        }
        p{
            font-family: "Circe Light", sans-serif;
            font-size: 30px;
            color: black;
            letter-spacing: 0.5px;

        }
        a{
            color: black;
            font-family: "Panton ExtraBold", sans-serif;
            font-size: 30px;
            letter-spacing: 0.5px;
        }
        img{
            width: 44px;
            position: relative;
            top: 5px;
        }
    }
    .change_lang{
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 29px;
        >img{
            margin: 8px;
            width: 50px;
        }
    }
}
.about_us{
    padding-top: 156px;
    height: 739px;
    width: 100%;
    @include background("back_about.png");
    background-position: top left;
    h1{
        font-size: 62px;
        font-family: "Circe Light", sans-serif;
        color: white;
        text-align: center;
        margin-top: 20px;
        line-height: 77px;
        span{
            font-family: "Panton ExtraBold", sans-serif;
            font-size: 86px;
        }
    }
    .content{
        width: 100%;
        display: flex;
        .about{
            margin-left: 4.7%;
            margin-top: -11px;
            min-width: 625px;
            width: 625px;
            h4{
                color: #FFC107;
                font-family: "Panton ExtraBold", sans-serif;
                font-size: 54px;
            }
            p{
                color: white;
                font-size: 29px;
                font-family: "Circe Regular", sans-serif;
                margin-top: 36px;
                line-height: 33px;
                text-align: justify
            }
        }
        .call_back{
            margin-left: calc(200px + 7.4%);
            margin-top: 0;
            h4{
                color: #FFC107;
                font-family: "Circe Bold", sans-serif;
                font-size: 39px;
                text-align: center;
                text-transform: uppercase;
            }
            > div{
                width: 676px;
                margin-top: 6px;
                padding: 25px 38px;

                border-radius: 5px;
                border: 1px white solid;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                input{
                    width: calc(47% - 15px);
                    height: 45px;
                    border: none;
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 3px;
                    font-size: 20px;
                    font-family: "Circe Regular", sans-serif;
                    color: black;
                    padding-left: 14px;
                    margin-bottom: 19px;
                    &::placeholder{
                        color: #808080;
                        margin-bottom: 11px;
                    }
                }
              .g-recaptcha{
    position: relative;
    top: -45px;
}
.captcha {
  position: relative;
  align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.captcha-fake-field-1 {
  background: transparent;
  bottom: 0;
  border: none;
  display: block;
  z-index: -1;
      width: 10px;
    padding: 0;
    height: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
}
                textarea{
                    width: 100%;
                    height: 113px;
                    border: none;
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 3px;
                    font-size: 20px;
                    font-family: "Circe Regular", sans-serif;
                    color: black;
                    padding: 10px 13px;
                    margin-bottom: 59px;
                    &::placeholder{
                        color: #808080;
                    }
                }
                .btn{
                    background: #fcbf00;
                    width: 318px;
                    height: 43px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: "Panton Bold", sans-serif;
                    font-size: 21px;
                    position: absolute;
                    left: calc(50% - 159px);
                    bottom: 22px;
                }
            }
        }
    }
}


.we-give{
    width: 100%;
    display: flex;
    justify-content: center;

    height: 740px;
    @include background("we_back.png");
    align-items: flex-start;
    h4{
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 54px;
        color: black;
        text-align: center;
        margin-top: 45px;
    }
    .tips{
        width: 100%;
        max-width: 1679px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 50px;
        > .tip:nth-child(1){
            margin-left: 172px;
        }
        > .tip:nth-child(4){
            margin-right: 143px;
        }
        > .tip:nth-child(2){
            p{
                position: relative;
                top: -21px;
            }
        }
        > .tip:nth-child(9){
            p{
                position: relative;
                top: -25px;
            }
        }
        .tip{
            height: 236px;
            margin-bottom: 46px;
            width: 327px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            img{
                width: 144px;
                object-fit: contain;
                height: auto;
                margin-bottom: 10px;
            }
            p{
                font-family: "Circe Bold", sans-serif;
                font-size: 26px;
                color: black;
                text-align: center;
                line-height: 30px;
            }
        }
    }
}

.services{
    height: 980px;
    width: 100%;
    min-width: 1250px;
    @include background("3_fon.png");
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    h4{
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 54px;
        color: black;
        text-align: center;
        margin-top: 39px;
}
    .tips{
        margin-top: 9px;
        max-width: 1800px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .tip{
            width: 46%;
            display: flex;
            flex-direction: column;
            .wrap{
                width: 100%;
                margin-top: 23px;
                .text{
                    width: 100%;
                    margin-bottom: 24px;
                    h5{
                        font-family: "Panton Black", sans-serif;
                        font-size: 30px;
                        color: white;
                        margin-bottom: 11px;
                    }
                    p{
                        font-family: "Circe Regular", sans-serif;
                        font-size: 22px;
                        color: black;
                        line-height: 25px;
                    }
                }
            }
        }
        .arrow{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 422px;
            }
            p{
                font-size: 30px;
                font-family: "Circe Extra Bold", sans-serif;
                color: black;
                position: absolute;
                top: 12px;
            }
        }
    }
}
.commerce{
    height: 1050px;
    width: 100%;
    min-width: 1250px;
    @include background("4_fon.png");
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    h4{
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 54px;
        color: white;
        text-align: center;
        margin-top: 39px;
    }
    .tips{
        height: 910px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1750px;
        position: absolute;
        bottom: 0;
        .tip{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            width: 22%;
            position: relative;
            > img:nth-child(1){
                width: 205px;
                position: relative;
                left: 23px;
            }
            > img:nth-child(2){
                width: 100%;
                position: absolute;
                bottom: 0;
            }

            >div{
                position: relative;
                width: 100%;
                height: 400px;

                >p{
                    color: white;
                    font-size: 20px;
                    font-family: "Circe Regular", sans-serif;
                    margin: 13px 20px 0 20px;
                    line-height: 25px;
                }
                >h5{
                    color: white;
                    font-size: 57px;
                    font-family: "Circe Extra Bold", sans-serif;
                    text-align: center;
                }

            }
        }
    }
}
.marketing{
    height: 1210px;
    width: 100%;
    min-width: 1250px;
    @include background("5_fon.png");
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 95%;
        max-width: 1600px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .tip{
            width: 390px;
            height: 390px;
            @include background("5_back.png");
            margin: 0 20px 165px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            >div{
                height: 114px;
                width: 90%;
                display: flex;
                align-items: center;
                margin-top: 40px;
                h3{
                    font-size: 55px;
                    font-family: "Circe Extra Bold", sans-serif;
                    color: black;
                    line-height: 62px;
                }
                img{
                    margin-right: 27px;
                    width: 114px;
                }
            }
            p{
                width: 90%;
                font-family: "Circe Regular", sans-serif;
                font-size: 20px;
                line-height: 24px;
                color: black;
                margin-top: 20px;

            }
        }
        .no_img{
            >div{
                justify-content: center;
            }
        }
        .tip:nth-child(2){
            position: relative;
            top: -80px;
        }
        .tip:nth-child(5){
            position: relative;
            top: 80px;
        }
        .tip:nth-child(4), .tip:nth-child(5), .tip:nth-child(6){
            margin: 0 20px 0 20px;
        }
    }
}

.Hong{
    height: 830px;
    width: 100%;
    min-width: 1250px;
    @include background('6_fon.png');
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .content{
        width: 92%;
        max-width: 1800px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 82px;
        .tips{
            display: flex;
            flex-direction: column;
            max-width: 830px;
            width: 50%;
            h5{
                font-family: "Panton Black", sans-serif;
                font-size: 39px;
                color: black;
                margin-bottom: 11px;
                text-transform: uppercase;
            }
            p{
                font-family: "Circe Bold", sans-serif;
                font-size: 22px;
                color: white;
                line-height: 25px;
            }
            .tip{
               margin-bottom: 52px;
                position: relative;
                &:before{
                    @include pseudo();
                    left: -22px;
                    top: 0;
                    height: 100%;
                    width: 10px;
                    background: white;
                }
            }
        }
        .main_text{
            max-width: 704px;
            width: 44%;
            color: white;
            margin-top: -14px;
            h3{
                font-family: "Panton ExtraBold", sans-serif;
                font-size: 52px;
                color: white;
                margin-bottom: 41px;

            }
            p{
                font-family: "Circe Regular", sans-serif;
                font-size: 25px;
                color: white;
            }
        }
    }

}

.gallery_wrap{
    height: 950px;
    width: 100%;
    min-width: 1250px;
    @include background('7_fon.png');
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    h4{
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 54px;
        color: black;
        text-align: center;
        margin-top: 49px;
    }
    .gallery{
        width: 90%;
        max-width: 1570px;
        margin-top: 53px;
        img{
            width: 230px;
            height: 230px;
            object-fit: contain;
        }
        .slick-next{
            width: 45px;
            height: 45px;
            @include background('ar_next.png');
            border: none;
            position: absolute;
            top: calc(50% - 22.5px);
            right: -53px;
        }
        .slick-prev{
            width: 45px;
            height: 45px;
            @include background('ar_prev.png');
            border: none;
            position: absolute;
            top: calc(50% - 22.5px);
            left: -95px;
        }
        }


    }

.slick-next:before,.slick-prev:before {
    display: none;
}
.contact_us{
    height: 740px;
    width: 100%;
    @include background('8_fon.png');
    h4{
        font-family: "Panton ExtraBold", sans-serif;
        font-size: 54px;
        color: white;
        text-align: center;
        margin-top: 49px;
    }
    .contacts{
        margin-top: 135px;
        display: flex;
        align-items: center;
        >div{
            margin-left: 71px;
        }
        p{
            font-family: "Circe Light", sans-serif;
            font-size: 30px;
            color: white;
            letter-spacing: 1.5px;
            white-space: nowrap;

        }
        a{
            color: white;
            font-family: "Panton ExtraBold", sans-serif;
            font-size: 30px;
            letter-spacing: 1.5px;
            white-space: nowrap;
        }
        img{
            position: relative;
            top: 3px;
            left: 13px;
            width: 39px;
        }
    }
    .mail{
        display: flex;
        align-items: center;
        margin-top: 67px;
        p{
            color: white;
            font-family: "Circe Bold", sans-serif;
            font-size: 30px;
            letter-spacing: 1.5px;
            margin-left: 48px;
            position: relative;
            top: 4px;
            white-space: nowrap;
        }
        img{
            width: 58px;
        }
    }
    .addr{

        display: flex;
        align-items: center;
        margin-top: 67px;
        p{
            color: white;
            font-family: "Circe Bold", sans-serif;
            font-size: 30px;
            letter-spacing: 1.5px;
            margin-left: 60px;
            top: -10px;
            position: relative;
            white-space: nowrap;
        }
        span{
            font-family: "Circe Light", sans-serif;
            font-size: 32px;
            color: white;
            letter-spacing: 0.5px;
            margin-left: 60px;
            top: -23px;
            position: relative;
            white-space: nowrap;
        }
        img{
            width: 46px;
            top: -15px;
            position: relative;
            left: 11px;
            white-space: nowrap;
        }
    }
    .content{
        width: 100%;
        display: flex;
        .contact{
            margin-left: 11.7%;
            margin-top: -11px;

        }
        .call_back{
            margin-top: 0;
            margin-left: 15.2%;
            h4{
                color: #FFC107;
                font-family: "Circe Bold", sans-serif;
                font-size: 39px;
                text-align: center;
                text-transform: uppercase;
            }
            > div{
                width: 676px;
                margin-top: 6px;
                padding: 25px 38px;

                border-radius: 5px;
                border: 1px white solid;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-start;
                position: relative;
                input{
                    width: calc(47% - 15px);
                    height: 45px;
                    border: none;
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 3px;
                    font-size: 20px;
                    font-family: "Circe Regular", sans-serif;
                    color: black;
                    padding-left: 14px;
                    margin-bottom: 19px;
                    &::placeholder{
                        color: #808080;
                        margin-bottom: 11px;
                    }
                }
              .g-recaptcha{
    position: relative;
    top: -45px;
}
.captcha {
  position: relative;
  align-self: center;
    width: 100%;
    display: flex;
    justify-content: center;
}
.captcha-fake-field-2 {
  background: transparent;
  bottom: 0;
  border: none;
  display: block;
  z-index: -1;
      width: 10px;
    padding: 0;
    height: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    left: calc(50% - 5px);
}
                textarea{
                    width: 100%;
                    height: 178px;
                    border: none;
                    background: rgba(255, 255, 255, 0.8);
                    border-radius: 3px;
                    font-size: 20px;
                    font-family: "Circe Regular", sans-serif;
                    color: black;
                    padding: 10px 13px;
                    margin-bottom: 59px;
                    &::placeholder{
                        color: #808080;
                    }
                }
                .btn{
                    background: #fcbf00;
                    width: 318px;
                    height: 43px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-transform: uppercase;
                    font-family: "Panton Bold", sans-serif;
                    font-size: 21px;
                    position: absolute;
                    left: calc(50% - 159px);
                    bottom: 22px;
                }
            }
        }
    }
}




@media (max-width: 1800px) {
    header{
        p{
            white-space: nowrap;
        }
        a{
            white-space: nowrap;
        }
        justify-content: space-between;
        > div{
            margin-left: 0!important;
        }
        > img{
            margin-left: 0!important;
        }
        .change_lang{
            position: static;
        }
    }
    .about_us{
        background-position: top center;
        .content{
            .about{
                margin-left: 20px;
                h4{
                    font-size: 39px;
                }
                p{
                    font-size: 25px;
                    line-height: 32px;
                }
            }
            .call_back{
                margin-left: 237px;
                > div{
                    width: 500px;
                }
                h4{
                    font-size: 30px;
                }
            }
        }

    }
    .services .tips{
        padding: 0 30px 0 30px;
        width: calc(100% - 60px);
    }
    .services{
        height: unset;
    }
    .commerce .tips .tip > div > h5{
        font-size: 50px;
    }
    .commerce .tips .tip > div{
        height: 350px;
    }
    .Hong .content .main_text p {
        font-size: 19px;
    }
    .Hong .content .main_text{
        max-width: 560px;
    }
    .Hong .content .main_text h3{
        margin-bottom: 50px;
    }
    .Hong{
        height: auto;
    }
    .gallery_wrap .gallery .slick-next{

    }
    .gallery_wrap .gallery {
        width: 84%;
        max-width: 1128px;
    }
    .contact_us .content .contact{
        margin-left: 4%;
    }
    .contact_us .content .call_back {
        margin-left: 7%;
    }

}

@media (max-width: 1660px) {

    .we-give{
        min-width: 1260px;
        height: auto;
        .tips{
            > .tip:nth-child(1){
                margin-left: 0;
            }
            > .tip:nth-child(4){
                margin-right: 0;
            }
        }
    }



}
@media (max-width: 1567px) {
    .about_us .content .about{
        width: 530px;
        min-width: 530px;
    }
    .about_us .content .call_back{
        margin-left: 150px;
    }
    .marketing .content .tip{
        margin: 0 0 165px 0;
    }
    .marketing .content .tip:nth-child(4), .marketing .content .tip:nth-child(5), .marketing .content .tip:nth-child(6){
        margin: 0;
    }
    .marketing .content{
        width: 100%;
    }
    .Hong .content .main_text{
        max-width: 456px;
    }
    .contact_us .content .call_back > div {
        width: 500px;
    }
    .contact_us .content .call_back h4 {
        font-size: 29px;
    }
}
@media (max-width: 1350px) {
    .about_us .content .about p{
        font-size: 21px;
        line-height: 29px;
    }
    .about_us .content .about {
        width: 442px;
        min-width: 300px;
    }
    .Hong .content .main_text p{
        font-size: 18px;

    }
    .Hong .content .main_text{
        max-width: 385px;
    }
    .contact_us .contacts p{
        font-size: 25px;
    }
    .contact_us .contacts a{
        font-size: 25px;
    }
    .contact_us .mail p{
        font-size: 24px;
    }
    .contact_us .addr p{
        font-size: 25px;
    }
    .contact_us .addr span{
        font-size: 25px;
    }
}
@media (max-width: 1500px) {
    header{
        min-width: 1260px;
        .menu{
            a{
                font-size: 17px;
            }
            .active_menu{
                &:before{

                    top: -67px;
                }
            }
        }
        .contacts{
            a{
                font-size: 17px;
            }
            p{
                font-size: 17px;
            }

        }
    }
    .commerce .tips .tip > div > p{
        font-size: 17px;
        margin: 2px 10px 0 10px;
    }
    .commerce .tips .tip > div > h5{
        font-size: 40px;
    }
}